.fill {
    background-color: #cd071e;
    color: white;
}

.row {
    display: flex;
    align-items: flex-end;
    width: auto;
}

.col.smol {
    width: 3em;
    margin-right: 0.5em;
}

.col.auto {
    width: 100%;
    margin-right: 0.5em;
}

.col {
    display: flex;
    width: fit-content;
    block-size: fit-content;
    padding: .3em;
    border-bottom: solid .3em #cd071e;
    vertical-align: bottom;
}

.field {
    background-color: white;
    border: 0;
    width: 100%;
}