.fill {
    background-color: #cd071e;
    color: white;
}

.row.auto {
    width: auto;
}
.row {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.col.smol {
    width: 3em;
    margin-right: 0.5em;
}

.col.auto {
    width: 100%;
    margin-right: 0.5em;
}

.col {
    display: flex;
    width: fit-content;
    block-size: fit-content;
    padding: .3em;
    border-bottom: solid .3em #cd071e;
    vertical-align: bottom;
}

.field {
    background-color: white;
    border: 0;
    width: 100%;
}

.approach {
    min-width: 150%;
}

.approach-container {
    /*width: 25%;*/
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

.approach-label {
    position: absolute;
    bottom: 17%;
    font-weight: 700;
    color: #cd071e;
}